[buildout]
extends =
    http://dist.plone.org/release/4.3.20/versions.cfg
    https://raw.githubusercontent.com/IMIO/buildout.website/4.3.18.x/versions-base.cfg
    https://raw.githubusercontent.com/IMIO/buildout.website/4.3.18.x/sources.cfg
# allow-picked-versions = false
show-picked-versions = false
extensions =
    mr.developer

develop = .

versions = versions
always-checkout = force
auto-checkout =
    cpskin.locales
    cpskin.minisite
    imio.gdpr

index = http://devpi.imio.be/root/imio/+simple/
allow-hosts +=
    devpi.imio.be

parts =
    instance
    test
    code-analysis
    createcoverage
    omelette
    robot

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
eggs =
    Plone
    Pillow
    cpskin.core
zcml =
    cpskin.core

environment-vars =
    PLONE_CSRF_DISABLED True

[code-analysis]
recipe = plone.recipe.codeanalysis[recommended]
directory = ${buildout:directory}/cpskin
flake8-exclude = bootstrap.py,bootstrap-buildout.py,docs,*.egg.,omelette
flake8-max-complexity = 15
flake8-ignore = Q000,W391,P101,E501,W503
return-status-codes = False

[createcoverage]
recipe = zc.recipe.egg
eggs = createcoverage

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[test]
recipe = zc.recipe.testrunner
eggs =
    ${instance:eggs}
    cpskin.core [test]
zcml =
    ${instance:zcml}
defaults = ['-s', 'cpskin.core', '--auto-color', '--auto-progress']
environment = testenv

[testenv]
zope_i18n_compile_mo_files = true
PLONE_CSRF_DISABLED = True

[robot]
recipe = zc.recipe.egg
eggs =
    ${test:eggs}
    plone.app.robotframework[debug,reload]

[versions]
setuptools = 44.0.0
zc.buildout = 2.13.2
cpskin.core =

Pygments = 2.0.2
plone.app.robotframework = 1.1
robotframework = 3.0
robotframework-selenium2library = 1.7.4
robotframework-selenium2screenshots = 0.7.0
robotsuite = 1.7.0
selenium = 3.4.3
sphinxcontrib-robotframework = 0.5.1
six = 1.11.0
flake8-isort = 2.8.0
isort = 4.3.5
configparser = 3.8.1
zipp = <2.0.0
distlib = 0.3.1
importlib-metadata = 1.3.0
pathlib2 = 2.3.5
