[buildout]
extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-4.x.cfg
    https://raw.githubusercontent.com/IMIO/cpskin.policy/master/versions.cfg
    https://raw.githubusercontent.com/IMIO/cpskin.policy/master/robot.cfg

package-name = cpskin.core
allow-picked-versions = false

versions = versions

extensions =
    mr.developer

auto-checkout =
    collective.directory
    collective.schedulefield
    collective.sticky
    cpskin.locales

index = http://pypi.imio.be/imio/imio/+simple/
allow-hosts +=
    pypi.imio.be

parts +=
    omelette
    test

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[sources]
collective.directory = git https://github.com/IMIO/collective.directory.git
collective.schedulefield = git https://github.com/IMIO/collective.schedulefield.git
collective.sticky = git https://github.com/IMIO/collective.sticky.git
cpskin.locales = git https://github.com/IMIO/cpskin.locales.git

[test]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress']
eggs =
    cpskin.core [test]
