include setup.py
include *.rst
exclude *.cfg
exclude .editorconfig
exclude .travis.yml
exclude .coveragerc
exclude bootstrap.py
exclude Makefile
exclude Jenkinsfile
exclude requirements.txt
graft cpskin 
recursive-include docs LICENSE.*
global-exclude *.pyc
