#nav, #nav ul { /* all lists */
padding: 0;
margin: 0;
list-style: none;
float : none;
width : 100%;
}
    
#nav li { /* all list items */
position : relative;
float : none;
line-height : 1.25em;
margin-bottom : -2px;
width: 100%;
}
    
#nav li ul { /* second-level lists */
background-image:url(++resource++cpskin.core.images/bgtransparent.gif)!important;
background-repeat:no-repeat;
background-position:50% left;   
background-color:transparent;
position : absolute;
left: -999em;
margin-left : 14.8em;
margin-top:-6em;
z-index: 5;
padding:4em 4em 4em 0;
}
    
#nav li ul ul { /* third-and-above-level lists */
left: -999em;
}

#nav li a {
width: auto !important;
display : block;
color : black;
font-weight : normal;
text-decoration : none;
background-color : transparent;
border : 1px solid tranparent;
padding : 0 0.5em;
line-height:2em;
}
    
#nav li a:hover {
color : white;
background-color : transparent;
}
    
#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfhover ul ul, #nav li.sfhover ul ul ul {
left: -999em;
}

#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul { /* lists nested under hovered list items */
left: auto;
}
