#bloc-actu {
    float: left;
    width: 50%;
}

#bloc-actu-title {
    float: left;
}

#bloc-actu-rss {
    float: right;
}

#bloc-event {
    float: left;
    width: 50%;
}

#bloc-event-title {
    float: left;
}

#bloc-event-rss {
    float: right;
}

#footer-sitemap div.footer-sitemap-item {
    float: left;
}

#footer-sitemap div.footer-static {
    float: left;
}
